<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dhruvmanila.darkmodenotifier</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/dhruv/.local/bin/dark-mode-notifier</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/dark-mode-notifier.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/dark-mode-notifier.out</string>
</dict>
</plist>
