# Editor Config: https://editorconfig.org/
# This is the global editor config file symlinked in $HOME.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_line = true
trim_trailing_whitespace = true

[*.bat]
end_of_line = crlf
indent_style = space

[*.{java,py,pyi,hdl}]
indent_size = 4
indent_style = space

[*.{c,json,lua,rb,rkt,sh,sml,toml,yaml,yml}]
indent_size = 2
indent_style = space

[{karabiner.json,justfile}]
indent_size = 4
indent_style = space

[*{gitconfig,gitmodules,Makefile,go}]
indent_size = 4
indent_style = tab

[*/cs50/**{.c,.html,.css,.js}]
indent_size = 4
indent_style = space

[**OneDrive-Thoucentric/workspace/**.py]
trim_trailing_whitespace = false
