# Editor Config: https://editorconfig.org/
# This is the global editor config file symlinked in $HOME.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_line = true
trim_trailing_whitespace = true

[*.bat]
end_of_line = crlf

[*.{py,pyi}]
indent_size = 4

[*.{c,json,lua,rb,rkt,sh,sml,toml,yaml,yml}]
indent_size = 2

[karabiner.json]
indent_size = 4

[*{gitconfig,Makefile,go}]
indent_size = 4
indent_style = tab

[*/cs50/**{.c,.html,.css,.js}]
indent_size = 4
