*.DS_Store
local/
.vagrant
/mac/karabiner/automatic_backups/

config/bpytop/error.log
config/nvim/scratch/
config/nvim/plugin/packer_compiled.vim

vim/undo/*
vim/swaps/*
vim/plugged
vim/session
vim/autoload/plug.vim
vim/.netrwhist
