*.DS_Store
local/
.vagrant

config/karabiner/automatic_backups/
config/bpytop/error.log
config/nvim/scratch/
config/vim/undo/*
config/vim/swaps/*
config/vim/plugged
config/vim/session
config/vim/autoload/plug.vim
config/vim/.netrwhist
