# Compiled Python files
*.pyc

# Folder view configuration files
*.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

local/

vim/undo/*
vim/swaps/*
vim/plugged
vim/session

.vagrant

/mac/karabiner/automatic_backups/
