apple-notes-to-sqlite
asciinema
awsebcli
bandit
black
bpytop
buku
flake8
frogmouth
grip
httpie
ipdb
isort
jupyter
line-profiler
mypy
pg-activity
pgcli
pipenv
poetry
pre-commit
py-spy
pydocstyle
pyre-check
pyupgrade
remove-print-statements
ruff
ruff-lsp
speedtest-cli
sqlfluff
sqlparse
swiggy-analytics
visidata
watchfiles
