asciinema
awsebcli
black
bpytop
buku
flake8
grip
httpie
ipdb
isort
jupyter
line-profiler
mypy
pg-activity
pgcli
pipenv
poetry
pre-commit
py-spy
pyre-check
pyupgrade
remove-print-statements
ruff
speedtest-cli
sqlparse
swiggy-analytics
visidata
watchfiles
